
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json


logs
*.log

.env
.env.test
.env.production


.DS_Store
Thumbs.db

.git
.gitignore
.dockerignore
dist
build
.cache

tmp
temp
*.tmp

.vscode
.idea

